In [2]:
import os
from sqlalchemy import create_engine, text

# Retrieve db conn details from env
db_rootpw = os.getenv("DB_ROOT_PASSWORD")
db_user = os.getenv("DB_USER")
db_userpw = os.getenv("DB_PASSWORD")
db_name = os.getenv("DB_NAME")

# Create db conn string
# connection_string = f"mysql+pymysql://{db_user}:{db_userpw}@mariadb:3306/{db_name}" # using user
connection_string = f"mysql+pymysql://root:{db_rootpw}@mariadb:3306/{db_name}" # using root

# Create engine
engine = create_engine(connection_string)
print("Engine created.")

Engine created.

In [3]:
# Create a table if it does not exist in DB
with engine.connect() as connection:
    connection.execute(text('''
        CREATE TABLE IF NOT EXISTS users (
            id INT PRIMARY KEY AUTO_INCREMENT,
            name VARCHAR(255)
        )
    '''))
print("Table created.")

Table created.

In [4]:
# Insert into the 'users' table
with engine.connect() as connection:
    connection.execute(
        text("INSERT INTO users (id, name) VALUES (:id, :name)"),
        {"id": 2, "name": "Asep"}
    )
    connection.commit()

print("Data inserted.")

Data inserted.

In [5]:
# Query all records from the 'users' table
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM users"))
    rows = result.fetchall()

# Display the results
for row in rows:
    print(row)

(2, 'Asep')